.ticket_open_status {
    background: #58d38f;
    padding: 4px 10px;
    color: #fff;
}
.th_heading {
    background: #95a2aa;
    color: #fff;
    font-size: 18px;
}
.map_with_pin {
    width: 100%;
    height: 400px;
}
